body {
  padding: 50px;
  /*background-color: black*/
  !important;
}


.numberedtextarea-line-numbers {
  background-color: #35a852;
  color: white !important;
  padding-left: 0px !important;
}

textarea {
  font-size: x-small !important;
  background-color: black !important;

}
.altonivel {
  color:whitesmoke !important;
}

.c3d {
  color: #0caca5 !important;
}

.consola {
  color:greenyellow !important;
}

.nav-pills > li > a.active {
  background-color: #35a852 !important;
}

.nav-pills > li > a  {
  color: #0c0a00 !important;
}